{% extends 'base.html' %}

{% block header %}
<h1 align="center">{% block title %}Change password{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>Change my password</h3>

<form method="post">
<table border="0" cellspacing="12"
<tr><td align="right">Enter your existing password:</td>
<td align="left"><input type="password" name="oldpass"></td></tr>
<tr><td align="right">Enter your new password:</td>
<td align="left"><input type="password" name="newpass1"></td></tr>
<tr><td align="right">Re-enter your new password:</td>
  <td align="left"><input type="password" name="newpass2"></td></tr>
<tr>
  <td><input type="checkbox" name="change_portal_password">Change portal password</td>
  <td><input type="checkbox" name="change_windows_password">Change windows password</td>
</tr>
<tr><td colspan="2" align="center"><input type="submit" name="ActionButton" value="Change"></td></tr>
</table>

</form>

{% endblock %}
