{% extends 'member/home.html' %}

{% block member_home_header %}
<h1 align="center">{% block title %}Notes{% endblock %}</h1>
{% endblock %}

{% block member_home_content %}

<table border="0" cellspacing="12">
  <tr><th>Date</th><th>Time</th><th>Category</th><th>Note</th><th>Reference</th><th>Author</th></tr>
<tr><td>8/9/2018</td><td>7:43:19 AM</td><td>School</td><td>Class 11350/401 created.</td><td>6671</td><td>Mike Morrow</td></tr>
<tr><td>8/9/2018</td><td>7:42:26 AM</td><td>School</td><td>Class 11349/261 created.</td><td>6670</td><td>Mike Morrow</td></tr>
<tr><td>7/16/201</td><td> 10:23:09 PM</td><td>School</td><td>Class 11347/401 created.</td><td>5657</td><td>Mike Morrow</td></tr>
<tr><td>7/16/201</td><td> 10:21:48 PM</td><td>School</td><td>Class 11346/261 created.</td><td>5656</td><td>Mike Morrow</td></tr>
<tr><td>4/21/201</td><td> 5:47:21 PM</td><td>School</td><td>Class 11317/335 created.</td><td>5519</td><td>Mike Morrow</td></tr>
<tr><td>4/21/201</td><td> 5:46:43 PM</td><td>School</td><td>Class 11316/319 created.</td><td>5518</td><td>Mike Morrow</td></tr>
<tr><td>4/21/201</td><td> 5:45:56 PM</td><td>School</td><td>Class 11315/319 created.</td><td>5517</td><td>Mike Morrow</td></tr>
<tr><td>3/22/201</td><td> 9:19:53 AM</td><td>School</td><td>Class 11312/401 created.</td><td>4460</td><td>Mike Morrow</td></tr>
<tr><td>3/22/201</td><td> 9:19:19 AM</td><td>School</td><td>Class 11311/261 created.</td><td>4459</td><td>Mike Morrow</td></tr>
<tr><td>3/16/201</td><td> 10:36:38 PM</td><td>School</td><td>Class 11299/401 created.</td><td>4432</td><td>Mike Morrow</td></tr>
</table>

{% endblock %}
