{% extends 'base.html' %}

{% block header %}
<h1 align="center"{% block title %}Access Information for Members{% endblock %}</h1>
    {% endblock %}
    
{% block content %}
    <p>Google Drive</p>
<ul>
    <li><a href="http://protospace.ca/drive">http://protospace.ca/drive</a></li>
    <li><a href="https://drive.google.com/open?id=0By-vvp6fxFekfmU1cmdxaVRlaldiYXVyTE9rRnNVNjhkc3FjdkFIbjBwQkZ3MVVQX2Ezc3M">https://drive.google.com/open?id=0By-vvp6fxFekfmU1cmdxaVRlaldiYXVyTE9rRnNVNjhkc3FjdkFIbjBwQkZ3MVVQX2Ezc3M</a></li>
</ul>

<p>Member Meeting Info</p>
<ul>
    <li><a href="http://protospace.ca/meetings">http://protospace.ca/meetings</a></li>
</ul>
<p>Training Resources</p>
<ul>
    <li><a href="http://protospace.ca/trainingfiles">http://protospace.ca/trainingfiles</a></li>
</ul>
<p>Alarm Code (for Members)</p>
<ul>
    <li>1950</li>
</ul>
{% endblock %}
