<form action="/Account/ListMembers" method="post">
            <div style="margin-top:8px;">
                <label for="member_name" style="padding-right:0px;margin-right:0px;">Member search: </label>
                <input type="text" name="member_name" id="member_name" style="width:100px;" />

                <label for="member_id" style="margin-left:0.5em;margin-right:0px;padding-right:0px;">ID: </label>
                <input type="text" name="member_id" id="member_id" style="width:2.5em;margin-left:0px;" />
                <input name="SubmitButton" type="submit" value="Go" style="margin-left:0.25em;"/>
            </div>
        </form>

{% endblock %}
