{% extends 'base.html' %}

{% block header %}
<h1 align="center">{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
  <div style="margin-top:8px;"> 
    <label for="memberbox" class="font11">Member:</label> 
  </div>
  <div style="margin-top:4px;">
    <select id="member_id" name="member_id">
      <option value=""> -- Select a member -- </option>
    {% for (member_id,firstname,lastname) in member_names %}
      <br><option value="{{ member_id }}">{{ firstname + ' ' + lastname }}</option>
      {% endfor %}
    </select>
  </div>
  <div style="margin-top:8px;"> 
    <label for="NewPass">Enter a new password (blank to reuse existing):</label>
  </div>
  <div style="margin-top:4px;margin-bottom:12px;">
    <input style="margin-top:0px" type="password" name="NewPass" /> 
  </div>
  <div style="margin-top:8px;"> 
    <label for="ConfirmNewPass">Confirm the new password (blank to reuse existing):</label>
  </div>
  <div style="margin-top:4px;margin-bottom:12px;">
    <input style="margin-top:0px" type="password" name="ConfirmNewPass" /> 
  </div>

  <input type="checkbox" name="change_portal_password">Change portal password
  &nbsp;<input type="checkbox" name="change_windows_password">Change windows password

  <p><input type="submit" name="ActionButton" value="Change">
</form>

{% endblock %}
