{% extends 'base.html' %}

{% block header %}
<h1 align="center">{% block title %}Update the Door Controller{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>The results of the steps.....</h3>

<tt>
8/2/2018 10:13:35 PM: Updated Database Tables.
<br>8/2/2018 10:13:35 PM: Overwriting Existing file at C:\Google Drive\my.protospace.ca\App_Data\CardExport.txt.
<br>8/2/2018 10:13:35 PM: Queried for export.
<br>8/2/2018 10:13:36 PM: New File created at C:\Google Drive\my.protospace.ca\App_Data\CardExport.txt.
<br>8/2/2018 10:13:58 PM: Connected to Back Pi SAMBA file share.

<p>8/2/2018 10:13:58 PM: The network path was not found.
</tt>
{% endblock %}
