{% extends 'base.html' %}

{% block header %}
<h1 align="center">{% block title %}Training History{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="Class List">
    <h2>Training available at Protospace</h2>
        <table class="grid classgrid">
    <thead>
        <tr class="head">
            <th scope="col">
<a href="/School/AllClasses.cshtml?sort=course_name&amp;sortdir=ASC">Subject</a>            </th>
            <th scope="col">
<a href="/School/AllClasses.cshtml?sort=class_id&amp;sortdir=ASC">Class #</a>            </th>
            <th scope="col">
<a href="/School/AllClasses.cshtml?sort=class_start_date&amp;sortdir=ASC">Date</a>            </th>
            <th scope="col">
Waiting            </th>
            <th scope="col">
Confirmed            </th>
            <th scope="col">
Holding            </th>
            <th scope="col">
Available            </th>
        </tr>
    </thead>
    <tfoot>
        <tr >
            <td colspan="7">1 <a href="/School/AllClasses.cshtml?page=2">2</a> <a href="/School/AllClasses.cshtml?page=3">3</a> <a href="/School/AllClasses.cshtml?page=4">4</a> <a href="/School/AllClasses.cshtml?page=5">5</a> <a href="/School/AllClasses.cshtml?page=2">Next</a> <a href="/School/AllClasses.cshtml?page=16">Last</a></td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td class="overflow350">Metal: Manual Mill &amp; Advanced Lathe</td>
            <td class="font11"><a href="/School/Roster/11239">11239</a></td>
            <td class="overflow150 min100 width150">Sat, Dec 08, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">16</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Metal: Metal Cutting &amp; Manual Lathe</td>
            <td class="font11"><a href="/School/Roster/11235">11235</a></td>
            <td class="overflow150 min100 width150">Sat, Nov 24, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">16</td>
        </tr>
        <tr>
            <td class="overflow350">Metal: Manual Mill &amp; Advanced Lathe</td>
            <td class="font11"><a href="/School/Roster/11238">11238</a></td>
            <td class="overflow150 min100 width150">Sat, Sep 29, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">16</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Metal: Metal Cutting &amp; Manual Lathe</td>
            <td class="font11"><a href="/School/Roster/11234">11234</a></td>
            <td class="overflow150 min100 width150">Sat, Sep 15, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">16</td>
        </tr>
        <tr>
            <td class="overflow350">New Members: Orientation and Basic Safety</td>
            <td class="font11"><a href="/School/Roster/11348">11348</a></td>
            <td class="overflow150 min100 width150">Thu, Aug 09, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">12</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Woodworking Tools 2: Jointer, Thickness Planer, Drum Sander</td>
            <td class="font11"><a href="/School/Roster/11347">11347</a></td>
            <td class="overflow150 min100 width150">Sat, Jul 28, 2018</td>
            <td class="textright">0</td>
            <td class="textright">3</td>
            <td class="textright">3</td>
            <td class="textright">0</td>
        </tr>
        <tr>
            <td class="overflow350">Woodworking Tools 1: Intro to Saws</td>
            <td class="font11"><a href="/School/Roster/11346">11346</a></td>
            <td class="overflow150 min100 width150">Sat, Jul 28, 2018</td>
            <td class="textright">0</td>
            <td class="textright">8</td>
            <td class="textright">0</td>
            <td class="textright">4</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Laser: Trotec Course</td>
            <td class="font11"><a href="/School/Roster/11345">11345</a></td>
            <td class="overflow150 min100 width150">Fri, Jul 27, 2018</td>
            <td class="textright">0</td>
            <td class="textright">7</td>
            <td class="textright">0</td>
            <td class="textright">8</td>
        </tr>
        <tr>
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11338">11338</a></td>
            <td class="overflow150 min100 width150">Tue, Jul 24, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Laser: Cutting and Engraving</td>
            <td class="font11"><a href="/School/Roster/11344">11344</a></td>
            <td class="overflow150 min100 width150">Sat, Jul 21, 2018</td>
            <td class="textright">0</td>
            <td class="textright">3</td>
            <td class="textright">0</td>
            <td class="textright">12</td>
        </tr>
        <tr>
            <td class="overflow350">New Members: Orientation and Basic Safety</td>
            <td class="font11"><a href="/School/Roster/11343">11343</a></td>
            <td class="overflow150 min100 width150">Sat, Jul 21, 2018</td>
            <td class="textright">0</td>
            <td class="textright">4</td>
            <td class="textright">0</td>
            <td class="textright">8</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11337">11337</a></td>
            <td class="overflow150 min100 width150">Tue, Jul 17, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr>
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11336">11336</a></td>
            <td class="overflow150 min100 width150">Tue, Jul 10, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">New Members: Orientation and Basic Safety</td>
            <td class="font11"><a href="/School/Roster/11325">11325</a></td>
            <td class="overflow150 min100 width150">Tue, Jul 03, 2018</td>
            <td class="textright">0</td>
            <td class="textright">1</td>
            <td class="textright">0</td>
            <td class="textright">98</td>
        </tr>
        <tr>
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11335">11335</a></td>
            <td class="overflow150 min100 width150">Tue, Jul 03, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Electronics: Learn to Solder</td>
            <td class="font11"><a href="/School/Roster/11319">11319</a></td>
            <td class="overflow150 min100 width150">Sat, Jun 30, 2018</td>
            <td class="textright">0</td>
            <td class="textright">2</td>
            <td class="textright">0</td>
            <td class="textright">3</td>
        </tr>
        <tr>
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11334">11334</a></td>
            <td class="overflow150 min100 width150">Tue, Jun 26, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">*** ANNUAL GENERAL MEETING ***</td>
            <td class="font11"><a href="/School/Roster/11340">11340</a></td>
            <td class="overflow150 min100 width150">Sat, Jun 23, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">100</td>
        </tr>
        <tr>
            <td class="overflow350">Monthly Members&#39; Meeting</td>
            <td class="font11"><a href="/School/Roster/11339">11339</a></td>
            <td class="overflow150 min100 width150">Sat, Jun 23, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
        <tr class="altRow">
            <td class="overflow350">Meet and Geek</td>
            <td class="font11"><a href="/School/Roster/11333">11333</a></td>
            <td class="overflow150 min100 width150">Tue, Jun 19, 2018</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">0</td>
            <td class="textright">99</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
